
<!-- example of interpolation
<h1 class="bg-blue-900 text-blue-100 text-3xl">
  Hey,I am from header component
</h1>
<h3>we are selling {{ product.name }}</h3>
<h3>at the price of {{ product.price }}</h3>
<h3>and discounted price is {{ product.discountedPrice }}</h3>
<h3>
  and just for you final price would be
  {{ product.price - product.discountedPrice }}
</h3> -->

<!-- <h4> {{product.isAvailable ? "In stock" : "Sorry, out of stock"}} </h4> -->

<!-- example of property binding -->

<!-- <img [src]="image.path" alt="s">
<button [disabled]="product.isAvailable" class=" p-2">click here to buy</button> -->

<!-- example attribute binding -->
<!-- <input [value]="product.inputName" class="bg-slate-600 text-slate-200 py-1 pl-2 w-96 rounded-md" [attr.aria-hidden]=""/><br/> -->

<!-- sending input value from inout to component -->
<!-- <input (input)="onInputChange($event)" class="bg-slate-100 border-emerald-800 border text-slate-900 py-1 pl-2 w-96 rounded-md"/>
<h2>{{inputValue}}</h2> -->
<app-search></app-search>